h1 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 20px;
}

.teammember {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    color: #444;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.6;
}

